.sidebar-admin {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid #a9a9a9;
  .sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px 0 20px;
    .sidebar-option {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1.5px solid #a9a9a9;
      border-right: 0;
      cursor: pointer;
      border-radius: 5px;
      padding: 5px;
    }
    .sidebar-option.active{
      background-color: rgb(249, 159, 159);
    }
  }
}
