.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    gap: 20px;
  }
  .navbar-right {
    display: flex;
    gap: 10px;
    .navbar-cart-icon{
    position: relative;
    .dot {
      background: red;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 0;
      right: 0;
    }}
  }
}
.navbar .active {
  background-color: red;
}
